
li, button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    user-select: none;
}

header {
    width: 100%;
    right: 0;
    position: fixed;
    background-color: #00041f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}


.logoNome, .logoSobreNome{

    display: flex;
    user-select: none;
    pointer-events: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 30px;

}

.logoSobreNome{

    color: #00bfbf;
    
}


li {
    font-size: 20px;
    
}


.nav-links {
    list-style: none;
}

.nav-links li {

    display: inline-block;
    padding: 7px 25px;
}

.nav-links li {
    transition: all 0.3s ease 0s;
}

.nav-links li:hover{
    cursor: pointer;
    color: #04e6e6;
}

button {

    padding: 8px 20px;
    background-color: #006969;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{

    background-color: #039696;


}
